*.o
*.a
recv/recv
server/bbpsender
server/bppsender
keys/genkey
keys/privkey.inc
keys/pubkey.inc
server/tst
blocksend/blocksend
lyric_test/lyrics
lyric_test/never.txt
recv/tst
hksend/hkserver
server/lastfecid.txt
esp32-recv/sdkconfig
esp32-recv/components/bpp-recv/pubkey.inc
